{% extends "theme.html" %}
{% load i18n %}
{% block title %}{% trans '关于我们' %}{% endblock title %}
{% block content %}
	<div class="warpper section">
        <div class="row">
            <div class="column">
                <div class="regular-page-content-wrapper wrapper section">
                    <div class="regular-page-text">
                        <h3>{% trans '关于我们' %}</h3>
                        <p>Something about this website</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}